* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --background-black: #181818;
  --background-white-black: #1d1d1d;
  --border-color: #ff3300;
  --font-color-for-selector: #5a5a5a;
}

.about-me-main {
  position: absolute;
  top: 0;
  right: 0;
  width: 93vw;
  height: auto;
  background-color: var(--background-black);
  display: flex;
  padding: 40px;
  overflow: scroll;
  flex-direction: column;
  transition: 0.6s smooth;
}
.wrap {
  display: flex;
}
.intro {
  width: 100%;
  margin: 10px 20px;
}
.intro h1 {
  margin-bottom: 20px;
}

.me-text {
  letter-spacing: 1px;
  padding: 15px;
  line-height: 25px;
  margin-bottom: 30px;
}

.expand {
  border: 3px solid var(--border-color);
  border-radius: 20px;
  overflow: hidden;
  height: 20vh;
  position: relative;
  transition: 0.8s;
}
.height {
  height: 90%;
}
.btn-expand {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border: 0;
  font-size: 20px;
  background-color: var(--background-white-black);
  color: #ff3300;
  cursor: pointer;
}
.up {
  display: none;
}
.btn-expand:hover {
  background-color: var(--background-black);
}

.techs {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 770px) {
  .about-me-main {
    width: 100%;
    top: 10vh;
    height: 90vh;
    flex-direction: column;
  }
  .intro {
  }
  .wrap {
    flex-direction: column;
  }
  .expand {
    overflow: scroll;
  }
  .me-text {
    letter-spacing: 0px;
    line-height: 20px;
    font-size: 15px;
  }
}
